body{
	text-align: center;
	background: url(https://images.unsplash.com/39/IKMsqwyaR6qN0kq48STw_annapurna.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Lucida Sans Unicode', Arial, serif;
}

ul#nav-main{
	list-style-type: none;
	margin-top: 100px;
}

#nav-main li{
	display: inline;
	background-color: #fcca2f;
	padding: 20px;
}

h1{
	margin-top: 100px;
}

a{
	background-color: #fcca2f;
	padding: 20px;
	border-radius: 3px;
	text-decoration: none;
	color: #FFF;
	font-weight: bold;
	margin-top: 35px;
    display: inline-block;	
}

section{
	padding: 20px;
}

section.about-me{
	background-image: url(https://images.unsplash.com/uploads/1413240567149aecde9a1/c0dce58d?q=80&fm=jpg&w=1080&fit=max&s=2a34bc386afa840d2a9d6137b77d50e2);
	background-size: cover;
	background-attachment: fixed;
}

.about-me{
	text-align: justify;
}

.about-me p{
	text-indent: 25px;
}

.about-me ul{
	list-style-type: circle;
}

.wrapper{
	width: 500px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.39);
}

section.contact{
	background-color: #FDD761;
	min-height: 500px;
}

section.contact h1{
	text-decoration: underline;
}

ul#nav-social{
	list-style-type: none;
	margin-top: 30px;
	color: #FFF;
}

#nav-social li{
	display: inline;
}

#button-mail{
	background-color: red;
}

.button-blue{
	background-color: #44566F;
}

.contact a{
	background-color: green;
}

